:root {
     --main-color: #901C1C;
     --back-color:  #D3573C;
     --font-gray : #525252;
}

*, ::before, ::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-size: 1rem;
 }

.tags{
     border-radius: 20px;
     border: 1px solid var(--font-gray);
     color:  var(--main-color) ;
     padding: 5px 10px;
     margin: 5px;
     transition: 0.2s ease-in-out;
}

.tags:hover{
     transform: scale(1.1);
}

body{
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.opacitydown{
     opacity: 0.5;
}

.logo-container{
   display: block;
}

.logo{
     max-width : 500px;
     width: 100%;
}

.main{
     max-width: 1940px;
     margin: auto;
}
.photographe-infos{
     display: flex;
     justify-content: space-between;
     background-color: whitesmoke;
     padding: 40px;
}
.photographe-name,
.photographe-city{
     color:  var(--back-color);
     margin-bottom: 10px;
}

.photographe-name{
     font-size: 2rem;
}

.photographe-tags-container{
     margin-top: 10px;
}

.bouton-container{
     position: relative;
}

.bouton-container::after{
     content: "";
     width: 350px;
     display: block;
}

.bouton{
     background-color: var(--main-color);
     color: white;
     padding: 20px;
     margin-top: 20px;
     font-size: 1rem;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}
a{
     text-decoration: none;
     color: inherit;
}

.photographe-img-container{
     width: 18%;
     margin: auto 0 ;
     position: relative;
}
.photographe-img-container::after{
     content: "";
     padding-top: 100%;
     display: block;
}
.photographe-img-container img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
     border-radius: 50%;
}

.photographe-infos-container{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
/*DropDown */
.tri-span{
     padding-left: 20px;
}
.dropdown-container{
     display: flex;
     position: relative;
     padding: 20px 20px;
     align-items: center;
}

.dropdown-container span{
     margin-right: 20px;
}

.dropdown {
     width: 150px;
     border-radius: 5px;
     background: var(--main-color);
     overflow: hidden;
 }

 .dropdown-item{
     border-top: 1px white solid;
     padding: 10px 0;
     display: block;
 }
 .dropdown-item1{
     margin: 10px 0;
     font-size: 1rem;
 }
 .btn-dropdown {
     padding: 3px 15px;
     width: 100%;
     border: none;
     outline: none;
     font-size: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: var(--main-color);
     cursor: pointer;
     border-radius: 5px;
     color: #f1f1f1;
 }
 .btn-dropdown svg {
     width: 20px;
 }
 .bloc-links {
     padding: 0 15px;
     transition: height 0.2s ease-in-out;
     height: 0;
 }

 .bloc-links.active{
      position: absolute;
      background-color: var(--main-color);
      height: auto;
      z-index: 100;
      width: 150px;
      color: white;
      padding-top: 10px;
      margin-top: -10px; 
      border-radius: 5px;
 }
 .bloc-links li {
     list-style-type: none;
 }
 .bloc-links li a {
     font-size: 1rem;
     color: #f1f1f1;
 }
 .bloc-links li:last-child {
     padding-bottom: 10px;
 }

/* MEDIA */ 

.media-container{
     display: flex;
     flex-wrap: wrap;
     padding: 0 30px;
}

.media{
     margin: 20px 30px;
     width: calc(33.33% - 60px);
     cursor: pointer;
}
.media::after{
     content: '';
     display: block; 
     padding-top: 100%;
}

.img-container{
     position : relative;
     width: 100%;
     height: 90%;
     display: block;
}

.video-container{
     position : relative;
     width: 100%;
     height: 90%;
     display: block;
}
.video-container video,
.img-container img{
     position: absolute ;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 5px;
}

.media-infos{
     color: var(--main-color) !important;
     display: flex;
     justify-content: space-between;
     padding-top: 10px;
}

.media-infos span{
     white-space: nowrap;
}

.media-infos strong{
     width: 80%;
}

.media-infos i{
     margin-left: 10px;
}

.languette-info{
     position: fixed;
     bottom: 0px;
     right: 5%;
     display: flex;
     background-color: var(--back-color);
     width: 20%;
     max-width: 200px;
     min-width: 170px;
     border-radius: 5px 5px 0 0;
     padding :10px 0;
     justify-content: space-around;
}

/* FORM MODAL  */

.form-modal{
     background-color: #cf6a54;
     padding: 25px;
     width: 60vw;
     position: absolute;
     left: 50%;
     right: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     display: none;
}

form{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
     margin: auto;
     position: relative;
}

.form-titre{
     font-size: 2.2rem;
     font-weight: 400;
     margin-bottom: 30px;
     width: 100%
}

.form-input,
.form-label{
     width: 100%;
     margin-bottom: 5px;
}

.form-label{
     margin-top: 20px;
}

.form-input{
     height: 30px;
     padding: 16px 5px;
     font-size: 1rem;
}

.form-input-msg{
     height: 120px;
}

.input-error {
     display: none;
     font-size: 0.9rem;
     font-style: italic;
     color: cornsilk;
   }

.form-submit{
     background-color: var(--main-color);
     color : white;
     cursor: pointer;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 5px;
}

.form-close{
     position: absolute;
     top: 0;
     right: 0;
     color: white;
     cursor: pointer;
}

/* LIGHTBOX */

.lightbox{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f5f5f5;
    width: 80vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.active{
     display: block;
}

.modal-content{
     width: 100%;
     clear: right;
}

.lightbox-container-img{
     width: 90%;
     height: 100%;
}

.lightbox-container-video{
     width: 90%;
     height: 100%;
}

.lightbox-container-img img{
     margin: auto;
     max-width: 100%;
     height: 100%;
     max-height: 80vh;
     object-fit: cover;
}

.lightbox-container-video video{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.mySlides{
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.close.cursor{
     cursor: pointer;
     color : var(--main-color);
     font-size: 40px;
     float: right;
     margin: 0 20px;
}

.prev,
.next{
     cursor: pointer;
     color : var(--main-color);
     font-size: 40px;
}

.media-titre{
     text-align: center;
     color:  var(--main-color);
     font-size : 22px;
     margin-top: 15px;
}

.numbertext{
     text-align: center;
     margin: 5px auto 15px;
}

@media screen and (max-width: 1050px){
     .media{
          width: calc(50% - 30px);
          margin: 20px 15px;
     }
}

@media screen and (max-width: 800px){
     .body{
          position: relative;
     }

     .media{
          width: calc(100%);
          margin: 15px 0;
     }
     .media::after{
          padding-top: 60%;
     }

     .bouton-container::after{
          content: none;
     }

     .languette-info{
          display: none;
     }
     .logo-container{
          text-align: center;
     }
     .photographe-city,
     .photographe-name,
     .photographe-line{
          text-align: left;
     }
     .photographe-infos {
          justify-content: center;
          align-items: center;
          padding: 20px;
      }
      .tri-span{
          padding-left: 0;
     }
      .photographe-infos-container{
           width: 75%;
      }
     .photographe-img-container{
          width: 30%;
     }
     .photographe-tags-container{
          margin-left: -5px;
          display: flex;
          flex-wrap: wrap;
     }
     .tags{
          font-size: 14px;
          margin: 3px;
          padding: 4px 8px;
     }
     .bouton-container{
          position: fixed;
          bottom: 40px;
          margin: 0;
          z-index: 10;
     }
     .bouton-container button{
          padding: 10px 15px;
     }
     .lightbox{
          top: 20%;
     }
     .form-modal{
          top: 20%;
     }
}

@media screen and (max-width: 550px){
     .lightbox{
          top: 10%;
     }
     .form-modal{
          top: 12%;
     }
}